@import 'tailwindcss' theme(static);

/* bardzo ważne dla Sage/Blade: skanowanie klas */
@source "../views/**/*.blade.php";
@source "../../app/**/*.php";
@source "../js/**/*.{js,ts,jsx,tsx}";

/* Twoje “źródłowe” zmienne RGB */
:root {
	/* base */
	--body: 42 63 80;
	/* #2A3F50 */

	/* PRIMARY (lewa kolumna – granat) */
	--primary: 1 0 61;
	/* #01003D */
	--p-hover: 1 0 51;
	/* #010033 */

	/* PRIMARY (fioletowy/granatowy) */
	--p-50: 162 160 255;
	/* #A2A0FF */
	--p-100: 129 127 232;
	/* #817FE8 */
	--p-200: 105 103 229;
	/* #6967E5 */
	--p-300: 67 65 184;
	/* #4341B8 */
	--p-400: 30 28 119;
	/* #1E1C77 */
	--p-500: 1 0 61;
	/* #01003D */
	--p-600: 1 0 51;
	/* #010033 */
	--p-700: 1 0 41;
	/* #010029 */
	--p-800: 1 0 31;
	/* #01001F */
	--p-900: 0 0 20;
	/* #000014 */
	--p-dark: 0 0 12;
	/* #00000C */

	--action: rgb(1, 0, 61);


	/* SECONDARY (turkusowy/miętowy) */
	--secondary: 0 213 175;
	/* #00D5AF */
	--s-hover: 10 170 142;
	/* #0DD4B1 */

	--s-50: 207 255 247;
	/* #CFFFF7 */
	--s-100: 175 255 241;
	/* #AFFFF1 */
	--s-200: 135 255 234;
	/* #87FFEA */
	--s-300: 95 255 227;
	/* #5FFFE3 */
	--s-400: 55 255 220;
	/* #37FFDC */
	--s-500: 0 213 175;
	/* #00D5AF */
	--s-600: 13 212 177;
	/* #0DD4B1 */
	--s-700: 10 170 142;
	/* #0AAA8E */
	--s-800: 8 128 107;
	/* #08806B */
	--s-900: 5 85 71;
	/* #055547 */
	--s-dark: 3 51 43;
	/* #03332B */


	/* THIRD (różowy/fioletowy) */
	--third: 248 129 240;
	/* #F881F0 */
	--t-hover: 207 108 200;
	/* #CF6CC8 */

	--t-50: 254 230 252;
	/* #FEE6FC */
	--t-100: 253 213 250;
	/* #FDD5FA */
	--t-200: 252 192 248;
	/* #FCC0F8 */
	--t-300: 250 171 245;
	/* #FAABF5 */
	--t-400: 249 150 243;
	/* #F996F3 */
	--t-500: 248 129 240;
	/* #F881F0 */
	--t-600: 207 108 200;
	/* #CF6CC8 */
	--t-700: 165 86 160;
	/* #A556A0 */
	--t-800: 124 65 120;
	/* #7C4178 */
	--t-900: 83 43 80;
	/* #532B50 */
	--t-dark: 50 26 48;
	/* #321A30 */

	/* neutrals / fixed backgrounds */
	--gray: #2a3f50;
	--bg: #F9F9FF;
	--bg-light: #F4FFFD;
	--bg-lighter: #ECF6FF;
	--bg-brand: #002704;
	--bg-dark: #071622;
}

@theme {
	/* base */
	--color-body: rgb(var(--body));

	/* primary */
	--color-primary: rgb(var(--primary));
	--color-primary-hover: rgb(var(--p-hover));
	--color-primary-50: rgb(var(--p-50));
	--color-primary-100: rgb(var(--p-100));
	--color-primary-200: rgb(var(--p-200));
	--color-primary-300: rgb(var(--p-300));
	--color-primary-400: rgb(var(--p-400));
	--color-primary-500: rgb(var(--p-500));
	--color-primary-600: rgb(var(--p-600));
	--color-primary-700: rgb(var(--p-700));
	--color-primary-800: rgb(var(--p-800));
	--color-primary-900: rgb(var(--p-900));
	--color-primary-dark: rgb(var(--p-dark));

	/* secondary */
	--color-secondary: rgb(var(--secondary));
	--color-secondary-hover: rgb(var(--s-hover));
	--color-secondary-50: rgb(var(--s-50));
	--color-secondary-100: rgb(var(--s-100));
	--color-secondary-200: rgb(var(--s-200));
	--color-secondary-300: rgb(var(--s-300));
	--color-secondary-400: rgb(var(--s-400));
	--color-secondary-500: rgb(var(--s-500));
	--color-secondary-600: rgb(var(--s-600));
	--color-secondary-700: rgb(var(--s-700));
	--color-secondary-800: rgb(var(--s-800));
	--color-secondary-900: rgb(var(--s-900));
	--color-secondary-dark: rgb(var(--s-dark));

	/* third */
	--color-third: rgb(var(--third));
	--color-third-hover: rgb(var(--t-hover));
	--color-third-100: rgb(var(--t-100));
	--color-third-200: rgb(var(--t-200));
	--color-third-300: rgb(var(--t-300));
	--color-third-400: rgb(var(--t-400));
	--color-third-500: rgb(var(--t-500));
	--color-third-600: rgb(var(--t-600));
	--color-third-700: rgb(var(--t-700));
	--color-third-800: rgb(var(--t-800));
	--color-third-900: rgb(var(--t-900));
	--color-third-dark: rgb(var(--t-dark));

	--color-gray: var(--gray);
	--color-action: var(--action);

	--color-page: var(--bg);
	--color-background-light: var(--bg-light);
	--color-background-brand: var(--bg-brand);
	--color-background-dark: var(--bg-dark);

	--color-primary-light: var(--color-primary-400);
	--color-primary-lighter: var(--color-primary-50);

	--color-secondary-light: var(--color-secondary-300);
	--color-secondary-lighter: var(--color-secondary-100);

	--color-muted: var(--color-secondary-500);
	--gradient: linear-gradient(90deg, #01003D 0%, #232267 100%);
	--gradient-light: linear-gradient(-90deg, #0E3A2D 0%, #0A533D 100%);
	--gradient-s: linear-gradient(-90deg, #DE855D 0%, #D37A51 100%);

}

@import '../css/variables.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'baguettebox.js/dist/baguetteBox.min.css';
@import '../css/woocommerce.scss';

@import './components/liquid-glass.scss';
@import '../css/glass-effect.css';
@import '../css/glass-webgl.scss';

/*-- USED ---*/
@import '../css/blocks/hero.scss';
@import '../css/blocks/herosub.scss';
@import '../css/blocks/categories.scss';
@import '../css/blocks/who.scss';
@import '../css/blocks/carousel.scss';
@import '../css/blocks/banner.scss';
@import '../css/blocks/callout.scss';
@import '../css/blocks/brands.scss';
@import '../css/blocks/accordion.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/cta.scss';
@import '../css/blocks/proces.scss';
@import '../css/blocks/catalogues.scss';
@import '../css/blocks/logos.scss';
/*-- NOT USED ---*/
@import '../css/blocks/slider.scss';
@import '../css/blocks/category-posts.scss';
@import '../css/blocks/contact.scss';
@import '../css/blocks/content.scss';
@import '../css/blocks/faq.scss';
@import '../css/blocks/image.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/reviews.scss';
@import '../css/blocks/tabs.scss';
@import '../css/blocks/wysiwyg.scss';