.b-content {
	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: none;
			padding-left: 0;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				position: relative;
				margin-bottom: 0.5em;
				display: flex;
				gap: 16px;
				align-items: center;

				&::before {
					content: url('@images/check.svg');
					position: relative;
					left: 0;
					top: 3px;
					width: 32px;
					height: 32px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}

/*--- BRAK PUNKTATORÓW ---*/

.b-content.no-list {
	.__txt {
		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc;
			padding-left: 1.25rem;

			li {
				display: list-item;
				position: static;
				margin-bottom: 0.5em;

				&::before {
					content: none;
					display: none;
				}
			}
		}
	}
}

/*--- WE HELP ---*/

.b-content.we-help {
	margin-top: 0 !important;

	.__col {
		align-items: center;
	}

	.__content {
		order: 2;
	}

	.__img {
		order: 1;
		margin-left: 0;
		width: 100%;

		img {
			height: auto;
			object-fit: cover;
			aspect-ratio: 4/3;
		}
	}

	/* Desktop (od 1024px) */
	@media (min-width: 1024px) {
		margin-top: -80px !important;

		.__col {
			align-items: end;
		}

		.__content {
			order: 1;
		}

		.__img {
			order: 2;
			margin-left: auto;
			width: 72%;

			img {
				aspect-ratio: 9/14;
			}
		}
	}
}